.mushroom {
  background-image: url(/assets/images/mushroom.jpg);
  width: 100%;
  height: 641px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100%;
  position: relative;

  &__content {
    padding-top: 30%;
    padding-left: 15%;
    .timer {
      position: absolute;
      width: 300px;
      margin-left: 60%;
      height: 150px;
      border-radius: 20px;
      border: solid 1px black;
      bottom: 6%;
      background-color: black;
      opacity: 0.3;
      left: 10%;

      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px black;
        h1 {
          z-index: 999;
        }
      }
    }

    .seeNft {
      margin-top: 20px;

      transition-duration: 0.6s;
      background-color: white;
      a {
        color: black;
        .eyelogo {
          width: 20px;
          height: 20px;
        }
      }

      :hover {
        transform: scale(0.95%);
      }
    }
    &__text {
      font-size: 50px;
      color: white;
      font-weight: 600;
    }

    button {
      padding: 8px 30px;
      border-radius: 30px;
      background-color: #3b3b3b;

      border: none;

      color: white;
      font-family: "Work Sans", sans-serif;
      font-weight: 500;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      transition: 0.6s;

      &:hover {
        transition: 0.6s;
      }
      a {
        text-decoration: none;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
