.topCreators {
  background-color: #2b2b2b;
  height: 150vh;
  .container {
    
  .cardV1{
    
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    .card {

      display: flex;
      flex-direction: column;
      background-color: #3b3b3b;
     

      border-radius: 10px;
      width: 22%;
      height: 200px;
      transition-duration: 0.6s;

      box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
      &:hover {
        cursor: pointer;
        transform: scale(0.95, 0.95);
      }

      img {
        width: 120px;
        height: 120px;
        margin: auto;
      }
      .card__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        h4 {
         
          color: white;
        
        }
        p{ color: #9b9898;
         
        }
      }
    }
  }
  .cardV2{
    padding-top: 30px;
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    .card {

      display: flex;
      flex-direction: column;
      background-color: #3b3b3b;
     

      border-radius: 10px;
      width: 22%;
      height: 230px;
      transition-duration: 0.6s;

      box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
      &:hover {
        cursor: pointer;
        transform: scale(0.95, 0.95);
      }

      img {
        width: 120px;
        height: 120px;
        margin: auto;
      }
      .card__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        h4 {
         
          color: white;
        
        }
        p{ color: #9b9898;
         
        }
      }
    }
  }
  .cardV3{
    padding-top: 30px;
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    .card {

      display: flex;
      flex-direction: column;
      background-color: #3b3b3b;
     

      border-radius: 10px;
      width: 22%;
      height: 230px;
      transition-duration: 0.6s;

      box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
      &:hover {
        cursor: pointer;
        transform: scale(0.95, 0.95);
      }

      img {
        width: 120px;
        height: 120px;
        margin: auto;
      }
      .card__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        h4 {
         
          color: white;
          width: 100%;
        
        }
        p{ color: #9b9898;
          width: 100%;
         
        }
      }
    }
  }
  }
}
